/* reloge generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/*  regole card member */
.card {
    display: flex;
    width: 360px;
    height: 100px;
    background-color: black;
}

.card-img img {
    height: 100px;
}

.card-content {
    color: white;
    padding: 10px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}