/* regole generali di pagina */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* regole header */
#main-header {
    text-align: center;
    background-color: #eeeeee;
    border-bottom: solid 3px orange;
}

/* regole contenuto principale */

/* regole footer */