/* reloge generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* regole header */
header {
    height: 200px;
    background-color: blueviolet;
}

#logo {
    font-size: 40px;
}

#main-nav {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#main-nav ul {
    list-style-type: none;
    width: 700px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* regole riga principale */
.row-container {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 10px; */
}

/* regole navigazione contestuale */
.secondary-block {
    width: 30%;
    padding-right: 10px;
    /* DEBUG */
    /* background-color: blue;
    height: 100px; */
}

.secondary-block ul {
    list-style-type: none;
}

.secondary-block li {
    margin-bottom: 15px;
}


/* regole contenuto main */
main {
    flex-grow: 1;
    /* width: 68%; */
    /* DEBUG */
    /* background-color: crimson;
    height: 100px; */
}




/*  regole card member */
.card {
    display: flex;
    width: 360px;
    height: 100px;
    background-color: black;
}

.card-img img {
    height: 100px;
}

.card-content {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-content h3 {
    font-size: 20px;
}




/* footer */
footer {
    /* DEBUG */
    background-color: blue;
    height: 200px;
}